hr {
    border-color: #DCDCDC;
}

.mapView {
        border: solid 1px black;
        position: relative;
        padding-bottom: 45%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
.mapView iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
}

#thelogos {
    width: 30px !important;
    margin-top: -6px;
    cursor: pointer;
    cursor: hand;
}

.banner{
    width:100%;
    position:relative;
}

.navbar-mine{
    font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 15px;
}

.page-title {
    font-size:4.5vw; 
    width: 100%;
    font-family: 'Open Sans', cursive;
    color:white; 
    position: absolute; 
    top:5vh;
    left: 0vw;
    text-align: center;
}

body {
    background:#F3EEEE;
}

.design {
    width: 100%;
    padding: 10px;
}



@media(max-width: 875px) {
    .nav.navbar-nav.navbar-right li a {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}

@media(max-width: 900px) {
    .page-title {
        top:2vh;
}
}


@media(max-width: 600px) {
    .page-title {
        top:1vh;
}
}

@media(max-width: 400px) {
    .page-title {
        top:0px;
}
}

@media(max-width: 865px) and (min-height:565px) {
    .banner {
        width:100%;
        height: 10vh;
        object-fit: cover;
    }
    .page-title {
    font-size:5.5vw; 
    width: 100%;
    text-align: center;
    font-family: 'Lora', cursive;
    color:white; 
    position: absolute; 
    top:-1.5vh;
    left: 0vw;
}
}

@media(min-height: 420px) and (max-height: 481px) {
    .banner {
        width:100%;
        height: 10vh;
        object-fit: cover;
    }
    .page-title {
    font-size:5.5vw; 
    width: 100%;
    text-align: center;
    font-family: 'Lora', cursive;
    color:white; 
    position: absolute; 
    top:-3.5vh;
    left: 0vw;
}

    

